.PokeDex-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.PokeDex-winner{
  font-size: 2em;
  font-weight: bold;
  color: #4caf50;
}

.PokeDex-loser {
  font-size: 2em;
  font-weight: bold;
  color: #e91e69;
}

@media screen and (max-device-width: 769px) {
  .PokeDex-winner {
    font-size: 1em;
  }

  .PokeDex-loser {
    font-size: 1em;
  }
}